name: First Workflow
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print Greeting
        run: echo "Hello World!" # A step that prints "Hello World!", running a shell command using run
      - name: Print Goodbye
        run: echo "Goodbye"
        
